.to-baikal__title {
  max-width: 560px;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media all and (max-width: 320px) {
  .to-baikal__title {
    font-size: 32px;
    line-height: 35px;
  }
}
