.cover__description {
  color: white;
  max-width: 360px;
  font-size: 18px;
  text-align: center;
  padding-top: 32px;
  margin: 0 auto;
}

@media all and (max-width: 320px) {
  .cover__description {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    padding-top: 16px;
  }
}
