.header {
  max-width: 1184px;
  min-width: 288px;
  min-height: 52px;
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 320px) {
  .header {
    min-height: 42px;
  }
}
