.cover {
  background-image: url("../../images/cover-trains.jpg");
  background-position: center;
  background-size: cover;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  text-decoration: none;
}

.cover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(16, 17, 18, 0.3);
}

.cover:hover:before {
  background-color: rgba(16, 17, 18, 0.8);
}

@media all and (max-width: 1024px) {
  .cover {
    min-height: 640px;
    max-width: 1024px;
  }
}

@media all and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media all and (max-width: 320px) {
  .cover {
    width: 320px;
    min-height: 200px;
  }
}
