.nav {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
}

@media all and (max-width: 500px) {
  .nav {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    align-items: flex-start;
  }
}
