.text {
  font-family: "Inter";
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  max-width: 484px;
  min-width: 288px;
  padding: 0;
  margin: 0;
  line-height: 163%;
}

@media all and (max-width: 768px) {
  .text {
    font-size: 16px;
    line-height: 163%;
  }
}
