.page__footer {
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 1024px) {
  .footer {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media all and (max-width: 600px) {
  .footer {
    margin-left: 16px;
    margin-right: 16px;
    flex-direction: column;
  }
}
